@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);
}

:root {
    --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-zinc-200 outline-zinc-950/50;
  }
  body {
    @apply bg-zinc-50 text-zinc-950;
  }
}
